.phone-container {
  height: 380px;
  width: 230px;
  background: dodgerblue;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border: #282c34;
  border-radius: 10px;
}

.phone-display {
  margin-top: 10px;
  background: #000;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.phone-display-row {
  justify-content: space-between;
  align-items: flex-start;
}

.phone-display-row button {
  color: #fff;
  height: 25px;
  font-size: 9px;
  border: 1px solid gray;
}

.phone-display span {
  font-size: 20px;
  color: #fff
}

.phone-keyboard {
  background: burlywood;
  margin-top: 25px;
  height: 240px;
  padding: 20px;
  border-radius: 10px;
}

.phone-keyboard-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.phone-keyboard button {
  background: white;
}
